
@font-face {
    font-family: LatoThin;
    src: url(Lato-Thin.ttf);
}
@font-face {
    font-family: LatoHairline;
    src: url(Lato-Hairline.ttf);
}
@font-face {
    font-family: LatoRegular;
    src: url(Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(Lato-Light.ttf);
}
body {
    font-family: LatoLight;
    background-color: #7180ae;
}

.panel-heading {
    background-color: rgba(125, 153, 221, 0.58);
}